<div class="container">
  <div class="instructions">
    <h1>Instructions</h1>
    <p>File must be CSV</p>
    <p>First row must be headder</p>
    <p>The followings fields must be there</p>
    <p>Date of Birth format must be as follows</p>
    <p>Gender must be one of the following</p>
    <p></p>
  </div>

  <div>
    <%= form_tag import_interns_path, multipart: true do%>
      <%= file_field_tag :file%>
      <%= submit_tag "Import CSV"%>
    <% end%>
  </div>

</div>