<div class="container">
  <div class="heading">
    <h2 class="text-center">
      <span class="intern-name"><%= @batch.batch_name %></span> 's Details
    </h2>
  </div>
  <div>
    Start Date: - <span><%= @batch.start_date%></span>
    End  Date: - <span><%= @batch.end_date%></span>
  </div>
</div>